
<div class="m-dropdown">
    <div class="e-button open">
        Metro App
        <div class="e-burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <ul class="e-list">
        <li><a class="active" routerLink="signup" routerLinkActive="active">Sign Up</a></li>
        <li><a class="active" routerLink="bus-schedule" routerLinkActive="active">Bus Schedules</a></li>
        <li><a href="#">About TransActive Enterprise</a></li>
    </ul>
</div>
