ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0em;
  left: 0em;
  z-index: -100;
}
.cb-slideshow:after {
  content: '';
  //background: transparent url("../../../assets/images/whitebox.jpg") repeat top left;
  background: transparent url("../../../assets/images/whitebox.jpg") repeat top left;
  opacity: .6;
  background-size: cover;
}

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: -100;
  animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li div {
  z-index: -100;
  position: absolute;
  bottom: 1.875em;
  left: 0em;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 15em;
  padding: 0;
  line-height: 12.500em;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url("../../../assets/images/City.jpg");

}
.cb-slideshow li:nth-child(2) span {
  background-image: url("../../../assets/images/Urban-20.jpg");
  animation-delay: 6s;

}
.cb-slideshow li:nth-child(3) span {
  background-image: url("../../../assets/images/Urban-19.jpg");
  animation-delay: 12s;

}
.cb-slideshow li:nth-child(4) span {
  background-image: url("../../../assets/images/Urban-13.jpg");
  animation-delay: 18s;

}
.cb-slideshow li:nth-child(5) span {
  background-image: url("../../../assets/images/Urban-18.jpg");
  animation-delay: 24s;

}
.cb-slideshow li:nth-child(6) span {
  background-image: url("../../../assets/images/Urban-17.jpg");
  animation-delay: 30s;
}
.cb-slideshow li:nth-child(7) span {
  background-image: url("../../../assets/images/City-2.jpg");
  animation-delay: 36s;
}
.cb-slideshow li:nth-child(8) span {
  background-image: url("../../../assets/images/Urban-11.jpg");
  animation-delay: 42s;
}
.cb-slideshow li:nth-child(9) span {
  background-image: url("../../../assets/images/Urban-6.jpg");
  animation-delay: 48s;
}
.cb-slideshow li:nth-child(10) span {
  background-image: url("../../../assets/images/City-12.jpg");
  animation-delay: 54s;
}
.cb-slideshow li:nth-child(11) span {
  background-image: url("../../../assets/images/Urban-3.jpg");
  animation-delay: 60s;
}
.cb-slideshow li:nth-child(12) span {
  background-image: url("../../../assets/images/Urban.jpg");
  animation-delay: 66s;
}
.cb-slideshow li:nth-child(13) span {
  background-image: url("../../../assets/images/Urban-15.jpg");
  animation-delay: 72s;
}
.cb-slideshow li:nth-child(14) span {
  background-image: url("../../../assets/images/City-8.jpg");
  animation-delay: 78s;
}
.cb-slideshow li:nth-child(15) span {
  background-image: url("../../../assets/images/City-11.jpg");
  animation-delay: 84s;
}
.cb-slideshow li:nth-child(16) span {
  background-image: url("../../../assets/images/Urban-2.jpg");
  animation-delay: 90s;
}
.cb-slideshow li:nth-child(17) span {
  background-image: url("../../../assets/images/City-3.jpg");
  animation-delay: 96s;
}
.cb-slideshow li:nth-child(18) span {
  background-image: url("../../../assets/images/City-5.jpg");
  animation-delay: 102s;
}
.cb-slideshow li:nth-child(19) span {
  background-image: url("../../../assets/images/Urban-5.jpg");
  animation-delay: 108s;
}
.cb-slideshow li:nth-child(20) span {
  background-image: url("../../../assets/images/Urban-10.jpg");
  animation-delay: 114s;
}
.cb-slideshow li:nth-child(21) span {
  background-image: url("../../../assets/images/Urban-12.jpg");
  animation-delay: 120s;
}
.cb-slideshow li:nth-child(22) span {
  background-image: url("../../../assets/images/City-10.jpg");
  animation-delay: 126s;
}
.cb-slideshow li:nth-child(23) span {
  background-image: url("../../../assets/images/City-7.jpg");
  animation-delay: 132s;
}
.cb-slideshow li:nth-child(24) span {
  background-image: url("../../../assets/images/Urban-16.jpg");
  animation-delay: 138s;
}
.cb-slideshow li:nth-child(25) span {
  background-image: url("../../../assets/images/Urban-9.jpg");
  animation-delay: 144s;
}
.cb-slideshow li:nth-child(26) span {
  background-image: url("../../../assets/images/City-9.jpg");
  animation-delay: 150s;
}
.cb-slideshow li:nth-child(27) span {
  background-image: url("../../../assets/images/Urban-4.jpg");
  animation-delay: 156s;
}
.cb-slideshow li:nth-child(28) span {
  background-image: url("../../../assets/images/Urban-7.jpg");
  animation-delay: 162s;
}
.cb-slideshow li:nth-child(29) span {
  background-image: url("../../../assets/images/City-4.jpg");
  animation-delay: 168s;
}
.cb-slideshow li:nth-child(30) span {
  background-image: url("../../../assets/images/City-1.jpg");
  animation-delay: 174s;
}
.cb-slideshow li:nth-child(31) span {
  background-image: url("../../../assets/images/Urban-14.jpg");
  animation-delay: 180s;
}
.cb-slideshow li:nth-child(32) span {
  background-image: url("../../../assets/images/Urban-8.jpg");
  animation-delay: 186s;
}
.cb-slideshow li:nth-child(33) span {
  background-image: url("../../../assets/images/Urban-1.jpg");
  animation-delay: 192s;
}
.cb-slideshow li:nth-child(34) span {
  background-image: url("../../../assets/images/City-6.jpg");
  animation-delay: 198s;
}





.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
  animation-delay: 30s;
}

.cb-slideshow li:nth-child(7) div {
  animation-delay: 36s;
}

.cb-slideshow li:nth-child(8) div {
  animation-delay: 42s;
}

.cb-slideshow li:nth-child(9) div {
  animation-delay: 48s;
}

.cb-slideshow li:nth-child(10) div {
  animation-delay: 54s;
}

.cb-slideshow li:nth-child(11) div {
  animation-delay: 60s;
}

.cb-slideshow li:nth-child(12) div {
  animation-delay: 66s;
}

.cb-slideshow li:nth-child(13) div {
  animation-delay: 72s;
}

.cb-slideshow li:nth-child(14) div {
  animation-delay: 78s;
}

.cb-slideshow li:nth-child(15) div {
  animation-delay: 84s;
}

.cb-slideshow li:nth-child(16) div {
  animation-delay: 90s;
}

.cb-slideshow li:nth-child(17) div {
  animation-delay: 96s;
}

.cb-slideshow li:nth-child(18) div {
  animation-delay: 102s;
}

.cb-slideshow li:nth-child(19) div {
  animation-delay: 108s;
}

.cb-slideshow li:nth-child(20) div {
  animation-delay: 114s;
}

.cb-slideshow li:nth-child(21) div {
  animation-delay: 120s;
}

.cb-slideshow li:nth-child(22) div {
  animation-delay: 126s;
}

.cb-slideshow li:nth-child(23) div {
  animation-delay: 132s;
}

.cb-slideshow li:nth-child(24) div {
  animation-delay: 138s;
}

.cb-slideshow li:nth-child(25) div {
  animation-delay: 144s;
}

.cb-slideshow li:nth-child(26) div {
  animation-delay: 150s;
}

.cb-slideshow li:nth-child(27) div {
  animation-delay: 156s;
}

.cb-slideshow li:nth-child(28) div {
  animation-delay: 162s;
}

.cb-slideshow li:nth-child(29) div {
  animation-delay: 168s;
}

.cb-slideshow li:nth-child(30) div {
  animation-delay: 174s;
}

.cb-slideshow li:nth-child(31) div {
  animation-delay: 180s;
}

.cb-slideshow li:nth-child(32) div {
  animation-delay: 186s;
}

.cb-slideshow li:nth-child(33) div {
  animation-delay: 192s;
}

.cb-slideshow li:nth-child(34) div {
  animation-delay: 198s;
}

@keyframes imageAnimation {
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

@keyframes titleAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
  opacity: 1;
}

@media screen and (max-width: 71.250em) {
  .cb-slideshow li div h3 { font-size: 8.750em }
}
@media screen and (max-width: 37.500em) {
  .cb-slideshow li div h3 { font-size: 5.000em}
}
