<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="wrapper">
  <!-- <h2>Elastic Tabs</h2>
  <h6>Click on tabs to see them in action</h6> -->
  <nav class="tabs">
    <div class="selector"></div>
    <a class="active" routerLink="signup" routerLinkActive="active"><i class="material-icons">account_circle</i>Sign In/ Register</a>
    <a class="active" routerLink="bus-schedule" routerLinkActive="active"><i class="material-icons">departure_board</i>Bus Schedules</a>
    <a class="active" routerLink="/about" routerLinkActive="active"><i class="material-icons">people</i>About TransActive</a>
<!--    <a ><i routerLink="about" class="material-icons">people</i>About TransActive</a>-->
    <!-- <a href="#"><i class="fab fa-superpowers"></i></a> -->
  </nav>
</div>
