/* You can add global styles to this file, and also import other style files */
$kclPrimary: #9620db;
$kclPrimary2: #6a0778;
$kclSecondary: #ffa300;
$kclWhite: #ffffff;
$kclOffWhite: #ededed;
$kclBlack: #000000;
$kclBlack2: #1b1b1e;
$kclGrey: #5b5b65;
$kclGrey2: #5A5A5A;
$kclValid: #a6d555;
$kclError: #ff0600;
$kclAccentRed: #ff6584;
$kclAccentGreen: #92ce2a;
$kclBlue: #3f92ff;
$kclFooterLinks: #9B51E0;

html {
  scroll-behavior: smooth;
}
