
<div class="schedules">
<header>
  <h1>Metro App</h1>
</header>

<nav>
  <ul>
    <li><a href="#Sunday">Sunday</a></li>
    <li><a href="#Monday">Monday</a></li>
    <li><a href="#Tuesday">Tuesday</a></li>
    <li><a href="#Wednesday">Wednesday</a></li>
    <li><a href="#Thursday">Thursday</a></li>
    <li><a href="#Friday">Friday</a></li>
    <li><a href="#Saturday">Saturday</a></li>
    <li><a href="#Bus_Map">Bus Map</a></li>
  </ul>
</nav>

<main>
  <section id="Sunday">
    <h1>Sunday</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
  </section>
  <section id="Monday">
    <h1>Monday</h1>
    <p>Ratione nulla nam, ipsa dignissimos corrupti veniam nostrum, laudantium asperiores sequi numquam placeat velit voluptate in praesentium non labore unde incidunt laborum maxime quae magni.</p>
  </section>
  <section id="Tuesday">
    <h1>Tuesday</h1>
    <p>Soluta quibusdam ad nostrum vel voluptate delectus sequi dolores quia quaerat officia corrupti, aperiam fugit facere debitis repudiandae praesentium sapiente inventore repellendus, nemo commodi alias!</p>
  </section>
  <section id="Wednesday">
    <h1>Wednesday</h1>
    <p>Aliquid aliquam magnam ducimus similique obcaecati, unde exercitationem laborum incidunt, quas in ipsum inventore nostrum? Blanditiis optio cumque earum iste odio! Alias sint accusamus repudiandae.</p>
  </section>
  <section id="Thursday">
    <h1>Thursday</h1>
    <p>Officia ipsum fugit iure eaque quisquam error tempore earum enim illum, delectus officiis incidunt corrupti aliquid nam quas perspiciatis eveniet doloremque quod labore? Doloremque, ipsum?</p>
  </section>
  <section id="Friday">
    <h1>Friday</h1>
    <p>Aperiam repellat dignissimos fugiat possimus esse, suscipit neque nisi libero alias obcaecati ipsam, porro illo corrupti nostrum reprehenderit unde, illum in laudantium impedit. Modi, veniam.</p>
  </section>
  <section id="Saturday">
    <h1>Saturday</h1>
    <p>Cum asperiores temporibus itaque consequatur quod inventore, quia quis explicabo dicta esse minus voluptatem reiciendis eveniet animi, necessitatibus illum dolorem doloremque repellat placeat, dolores eaque.</p>
  </section>
  <section id="Bus_Map">
    <h1>Bus Map</h1>
    <img class="Map" src="assets/images/map.gif" alt="Bus Map">
  </section>
</main>
</div>
<footer>
  &copy;2018 Footer
</footer>
